.dark-green{
  background-color: #10513A;
}

.dark-green-text{
  color: #10513A;
}

.light-green{
  color: #67EFBF;
}

.light-green-2{
  color: #38B388;
}

.dark-blue{
  background-color: #212B32;
}

.dark-blue-text{
  color: #212B32;
}

.background-image{
  background-image: url(Images/background-2.png);
}